:root{
    --dark_purple: #3B252C;
    --pomp_and_powder: #8F6593;
    --rose_quartz: #AEA4BF;
    --silver: #CDCDCD;
    --albaster: #E3E4DB;
}

*{
    margin: 0;
    padding: 0%;
}

body{
    background-color: var(--dark_purple);
}

main{
    background-color: var(--albaster);
    width: 80%;
    margin: 0% 10%;
}

section{
    width: 80%;
    margin: 2% 10%;
    flex-direction: column;
}

section:last-child{
    margin-bottom: 0%;
    padding-bottom: 3%
}

section:first-child{
    margin-top: 0%;
    padding-top: 2%;
}

.carousel{
    max-width: 80%;
}
nav{
  background-color: var(--pomp_and_powder);
}

nav a:hover{
    color: var(--silver);
}

header a{
    color: var(--dark_purple);
}

header a:hover{
    color: var(--silver);
}

footer{
    background-color: var(--pomp_and_powder);
    color: var(--albaster);
    margin-bottom: 0%;
}

section ul{
    list-style-type: none;
}
